<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.matthewleon.safari.mistergorbachev</string>
       <key>Developer Identifier</key>
       <string>E97DGK235A</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.11</string>
       <key>URL</key>
       <string>http://matthewleon.github.com/mrgorbachev/mrgorbachev.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
